<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Spare Shop System - Login</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


</head>


<body>


<div class="login-page">



    <!-- SYSTEM NAME -->

    <div class="system-name">

        🏍 Spare Shop System

        <p>
            Motorcycle Spare Parts Management
        </p>

    </div>





    <!-- LOGIN BOX -->


    <div class="login-box">


        <h2>
            Login
            {% if error %}

            <p style="color:red;text-align:center;">
            {{error}}
            </p>

            {% endif %}    
        </h2>



        <form method="POST">



            <div class="input-box">

                <label>
                    Email / Username
                </label>


                <input 
                type="text" 
                name="username"
                placeholder="Enter username"
                required>

            </div>





            <div class="input-box">


                <label>
                    Password
                </label>


                <input 
                type="password"
                name="password"
                placeholder="Enter password"
                required>


            </div>





            <button type="submit">

                Login

            </button>
            <br>

            <a href="/forgot_password" class="forgot-link">
            Forgot PASSWORD?
            </a>




        </form>



    </div>




</div>



</body>


</html>
<a href="/forgot_password">
    Forgot password?
</a>